storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget Microsoft.Orleans.Client
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.Core.Abstractions
nuget Microsoft.Orleans.OrleansCodeGenerator.Build
nuget OrleansDashboard

nuget System.Reactive
nuget System.Interactive
nuget System.Interactive.Async
nuget Microsoft.Tpl.Dataflow

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
